{% extends "admin/base_site.html" %}

{% block title %}Import Lectures - {{ course.title }}{% endblock %}

{% block content %}
<div class="module">
    <h2>Import Lectures for "{{ course.title }}"</h2>
    
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="lecture_files">Select Audio Files:</label>
            <input type="file" name="lecture_files" id="lecture_files" 
                   multiple accept=".mp3,.wav,.m4a,.flac,.ogg" required>
            <p class="help">Supported formats: MP3, WAV, M4A, FLAC, OGG</p>
        </div>
        
        <div class="form-actions">
            <input type="submit" value="Import Files" class="default">
            <a href="../" class="button">Cancel</a>
        </div>
    </form>
    
    <div class="module">
        <h3>Instructions:</h3>
        <ul>
            <li>Select multiple audio files to import</li>
            <li>Files will be automatically sorted by name</li>
            <li>Order numbers will be assigned automatically</li>
            <li>Long filenames will be shortened automatically</li>
            <li>Duplicate files will be skipped</li>
        </ul>
    </div>
</div>
{% endblock %}
