{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block title %}{% trans 'Import Lectures' %} - {{ topic.title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:lecture_topic_changelist' %}">Topics</a>
&rsaquo; <a href="{% url 'admin:lecture_topic_change' topic.pk %}">{{ topic.title }}</a>
&rsaquo; {% trans 'Import Lectures' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        
        <div>
            <h1>{% trans 'Import Lectures' %}</h1>
            <p>{% blocktrans with title=topic.title %}Import audio files for "{{ title }}"{% endblocktrans %}</p>
            
            <fieldset class="module aligned">
                <div class="form-row">
                    <div>
                        <label for="id_lecture_files" class="required">{% trans 'Audio Files' %}:</label>
                        <input type="file" name="lecture_files" id="id_lecture_files" multiple 
                               accept=".mp3,.wav,.m4a,.flac,.ogg,.aac" required>
                        <div class="help">{% trans 'Select multiple audio files (MP3, WAV, M4A, FLAC, OGG, AAC)' %}</div>
                    </div>
                </div>
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="{% trans 'Import Files' %}" class="default">
            </div>
            
        </div>
    </form>
</div>
{% endblock %}
